<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="android_serialport_api.sample"
    android:versionCode="3"
    android:versionName="1.2">

    <uses-sdk android:minSdkVersion="3" />
    <!-- <uses-sdk tools:overrideLibrary="android.support.constraint" /> -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- gps定位权限 -->
    <!-- <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> -->
    <!-- <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> -->
    <!-- <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> -->
    <!-- <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> -->
    <!-- <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" /> -->
    <!-- <uses-permission android:name="android.permission.INTERNET" /> -->
    <application
        android:name=".Application"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Light">

        <!-- android:icon="@drawable/ic_launcher" -->
        <activity
            android:name=".MainMenuActivity"
            android:label="智能化采棉机状态监控系统">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SerialPortPreferences" />
        <activity android:name=".ConsoleActivity" />
        <activity android:name=".LoopbackActivity" />
        <activity android:name=".Sending01010101Activity" />
        <activity android:name="GpsActivity"></activity>
        <activity android:name=".TroublecodeActivity" />
        <activity android:name=".coSetActivity" />
        <activity
            android:name=".WorkActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".StatusActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".SettingActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".MoreActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".Setting02Activity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity android:name=".TestActivity"></activity>
    </application>

</manifest>